# Panasonic SIP Phone Standard Format File #

############################################################
# Model Settings #
############################################################

CFG_STANDARD_FILE_PATH="tftp://{$server.ip.1}/{MAC}.cfg"
CFG_PRODUCT_FILE_PATH="tftp://{$server.ip.1}/{MODEL}.cfg"
CFG_MASTER_FILE_PATH="tftp://{$server.ip.1}/ConfigCommon.cfg"

## BASE UNIT SETTINGS
SIP_RGSTR_ADDR="{$server.ip.1}"
SIP_RGSTR_PORT="5060"
SIP_PRXY_ADDR="{$server.ip.1}"
SIP_OUTPROXY_ADDR="{$server.ip.1}"
SIP_OUTPROXY_PORT="5060"
REG_EXPIRE_TIME="120"
REG_INTERVAL_RATE="60"
